/* Estilos generales */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(27, 29, 30);
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

h3 {
    font-size: 30px;
    color: black;
}

p {
    font-size: 18px;
}

.btn {
    width: 200px;
    background: linear-gradient(to right, #f46b45, #eea849);
    border: none;
    color: rgb(27, 29, 30);
    padding: 15px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    font-weight: 500;
}

.btn:hover{
    transform: scale(0.9);
    }

/* Utilities */

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 2fr;
    gap: 20px;
}

.gridi1 {
    grid-area: pub1;
}

.gridi2 {
    grid-area: pub2;
}

.gridi3 {
    grid-area: pub3;
}

.gridIndex {
    grid-template-areas:"titulo titulo titulo"
                        "pub1 pub2 pub3";

}

.gridAboutUs {
    grid-template-columns: 1fr;
    grid-template-areas:"titulo"
                        "pub1"
                        "pub2";
}

.gridServices {
    grid-template-areas:"titulo titulo titulo"
                        "pub1 pub2 pub3"
                        "companies companies companies";
}

.gridGraphic{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:"titulo"
                        "pub1"
                        "pub2";
}

.gridContact{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:"titulo titulo"
                        "pub1 pub2"
                        ;
}

/* Estilos para el header */

header {
    max-width: 1800px;
    margin: 0 auto;
    height: 60px;
    box-sizing: border-box;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    background: linear-gradient(to right, #f7971e, #ffd200);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logoContainer {
    width: 200px;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

nav {
    margin-left: auto;
    width: 500px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li .menuLink {
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: all 0.5s;
}

nav ul li .menuLink:hover {
    color: white;
    border-bottom: 2px solid white;
}

/* Estilos para el main  de index*/

.mainContentContainer {
    max-width: 1800px;
    height: 1200px;
    color: white;
    margin: 0 auto;
}

.mainTitleContainer {
    height: 120px;
    width: 100%;
    grid-area: titulo;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(to right, #f7971e, #ffd200);
    box-shadow: 5px 5px 15px 5px #000000;
}

.mainTitle {
    font-size: 60px;
    color: black;
}

.publication p {
    font-size: 20px;
}

.publication {
    height: 500px;
    width: 400px;
    text-align: center;
    color: black;
    background: linear-gradient(to right, #ece9e6, #ffffff);
}



/* Nuevo Footer */
footer {
    display: flex;
    max-width: 1800px;
    height: 60px;
    background: linear-gradient(to right, #f7971e, #ffd200);
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    margin: 0 auto;
}

.socialMediaContainer {
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: space-evenly;
}

.footerText {
    font-size: 18px;
    margin-left: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

a img:hover {
    filter: invert(100%);
}

/* Estilos para nosotros */

.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: #f7971e 2px solid;
    width: 80%;
    height: 80%;
    align-items: center;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: #ffd200 2px solid;
    border-radius: 30px;
    padding: 20px;
    height: 90%;
    width: 40%;
    position: relative;
}

.videoContainer iframe{
    width: 100%;
    height: 80%;
    border: #ece9e6 2px solid;
}

.videoContainer h3{
    border-bottom: gainsboro 2px solid;
    display: block;
    border-radius: 10px;
    color: white;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 30px;
    vertical-align: middle;
    width: 60%;
    height: 100%;
    justify-content: center;
    overflow: auto;
    text-align: center;
}

.presentation h2 {
    font-size: 40px;
}

.imgContainer {
    width: 20%;
}

.imgContainer img{
    border: 2px solid gold;
    overflow: hidden;
    border-radius: 20px;
}

/* Estilos para servicios */

.serviceContainer {
    height: 600px;
    width: 400px;
    background-color: white;
    text-align: center;
    color: black;
    position: relative;
    margin: 0 auto;
}

.serviceContainer button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.companiesContainer {
    width: 60%;
    max-width: 1800px;
    height: 250px;
    background: linear-gradient(to right, #f46b45, #eea849);
    grid-area: companies;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titleContainer{
    border: #000 2px solid;
    padding: 10px;
}


.companies {
    height: 150px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}


.companies img:hover{
    transform: skewY(8deg);
}

/* Estilos para grafico */

.tradingview-widget-container {
    height: 600px;
    width: 1100px;
    border: #ffd200 2px solid;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Estilos para Contacto */

.contactContainer {
    width: 100%;
}

.contactContainer fieldset {
    position: relative;
}

.contactContainer input[type=submit] {
    width: 150px;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.contactContainer .commentaryContainer {
    position: absolute;
    top: 15px;
    right: 15px;
}

.contactContainer div {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.contactContainer .namesContainer {
    top: 15px;
    left: 15px;
}

.contactContainer .sexContainer {
    top: 100px;
    left: 15px;
}

.contactContainer .emailContainer {
    bottom: 60px;
    left: 15px;
}

/* Media queries */
