/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: rgb(27, 29, 30);
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

h3 {
    font-size: 3rem;
    color: black;
}

p {
    font-size: 1.6rem;
}

.btn {
    width: 200px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(206, 215, 220);
    padding: 15px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    ;
    font-weight: 500;
    transition: all 0.3s;
}

.btn:hover {
    box-shadow: 0px 15px 20px rgb(40, 39, 39);
    transform: translateY(-7px);
    background-color: #fff;
    color: #000;
}

/* Utilities */

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 2fr;
    gap: 20px;
}

.gridi1 {
    grid-area: pub1;
}

.gridi2 {
    grid-area: pub2;
}

.gridi3 {
    grid-area: pub3;
}

.gridIndex {
    grid-template-areas: "titulo titulo titulo"
        "pub1 pub2 pub3";

}

.gridAboutUs {
    grid-template-columns: 1fr;
    grid-template-areas: "titulo"
        "pub1"
        "pub2";
}

.gridServices {
    grid-template-areas: "titulo titulo titulo"
        "pub1 pub2 pub3"
        "companies companies companies";
}

.gridGraphic {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5fr 2.5fr;
    grid-template-areas: "titulo"
        "pub1"
        "pub2";
}

.gridContact {
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: "titulo titulo titulo"
        "pub1 pub1 pub2"
    ;
}

/* Estilos para el header */

header {
    max-width: 1800px;
    margin: 0 auto;
    height: 60px;
    box-sizing: border-box;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    background: linear-gradient(to right, #f7971e, #ffd200);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logoContainer {
    width: 200px;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.logoContainer img {
    width: 5rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #000;
    padding: 0.5rem;
    box-shadow: 0px 0px 5px #000;
}

ul li {
    display: inline-block;
    margin-left: 2%;
    width: 8rem;
}

nav ul li .menuLink {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    transition: all 0.5s;
}

nav ul li .menuLink:hover {
    color: white;
    border-bottom: 2px solid white;
}

/* Estilos para el main  de index*/

.mainContentContainer {
    max-width: 1800px;
    height: 1200px;
    color: white;
    margin: 0 auto;
}

.mainTitleContainer {
    height: 120px;
    width: 100%;
    grid-area: titulo;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(to right, #f7971e, #ffd200);
    border: 2px solid #ffd200;
    box-shadow: 0px 0px 8px #f46b45;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainTitle {
    font-size: 4rem;
    color: black;
}

.publication p {
    font-size: 2rem;
}

.publication {
    height: 500px;
    max-width: 400px;
    min-width: 300px;
    text-align: center;
    color: black;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 5px #ece9e6;
    
}

.publication:hover{
    transform: translateY(-15px);
}


/* Nuevo Footer */
footer {
    display: flex;
    max-width: 1800px;
    height: 60px;
    background: linear-gradient(to right, #f7971e, #ffd200);
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 auto;
}

.socialMediaContainer {
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: space-evenly;
}

.footerText {
    width: 40%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

a img:hover {
    filter: invert(100%);
}

/* Estilos para nosotros */

.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: #f7971e 2px solid;
    width: 80%;
    height: 80%;
    align-items: center;
    border: 1px solid #ffd200;
    box-shadow: 0px 0px 5px #ffd200;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: #ffd200 2px solid;
    border-radius: 30px;
    padding: 20px;
    height: 90%;
    width: 40%;
    position: relative;
}

.videoContainer iframe {
    width: 100%;
    height: 80%;
    border: #ece9e6 2px solid;
}

.videoContainer h3 {
    border-bottom: gainsboro 2px solid;
    display: block;
    border-radius: 10px;
    color: white;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 30px;
    vertical-align: middle;
    width: 60%;
    height: 100%;
    justify-content: center;
    overflow: auto;
    text-align: center;
}

.presentation h2 {
    font-size: 4rem;
}

.imgContainer {
    width: 20%;
}

.imgContainer img {
    border: 2px solid gold;
    overflow: hidden;
    border-radius: 20px;
}

/* Estilos para servicios */

.serviceContainer {
    height: 600px;
    min-width: 320px;
    max-width: 400px;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    text-align: center;
    color: black;
    position: relative;
    margin: 0 auto;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 5px #ece9e6;
}

.serviceContainer button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.serviceContainer:hover{
    transform: translateY(-15px);
}


.companiesContainer {
    width: 60%;
    max-width: 1800px;
    height: 250px;
    background: linear-gradient(to right, #f46b45, #eea849);
    grid-area: companies;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titleContainer {
    border: #000 2px solid;
    padding: 10px;
}


.companies {
    height: 150px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.galleryCell {
    width: 50%;
}

.companies img:hover {
    transform: skewY(8deg);
}

/* Estilos para grafico */

.tradingview-widget-container {
    height: 90%;
    width: 600px;
    border: #ffd200 2px solid;
    padding:20px;
}

.tradingview-widget-container div div {
    height: 380px !important;
}

/* Estilos para Contacto */

.contactContainer {
    background-color: #ece9e6;
    width: 90%;
    height: 700px;
    padding: 20px;
    font-size: 2rem;
    color: #000;
    border: #000 1px solid;
    box-shadow: 0px 0px 10px #000;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
}

form{
    width: 40%;
}

.contactContainer input[type=submit] {
    width: 150px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.contactContainer div {
    margin: 20px 0;
}

div input[type=text],
div input[type=email] {
    background: transparent;
    height: 35px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000;
    font-size: 1.2rem;
}

div input:focus {
    outline: none;
}

div input[type=radio] {
    height: 10px;
    width: 20px;
    margin: 5px 0;
}

.commentaryContainer textarea {
    background: transparent;
    width: 100%;
    height: 120px;
    margin-top: 10px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}

/* Media queries */

@media screen and (max-width: 1024px) {

    /* Utilities mobile */
    .grid {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 1fr 1fr 1fr;
        gap: 20px;
    }

    .gridIndex {
        grid-template-areas: "titulo"
            "pub1"
            "pub2"
            "pub3";
    }

    .gridAboutUs {
        grid-template-rows: 150px 1.8fr 1.2fr;
        grid-template-areas: "titulo"
            "pub1"
            "pub2";
    }

    /* faltan */
    .gridServices {
        grid-template-rows: 150px 1fr 1fr 1fr 250px;
        grid-template-areas: "titulo"
            "pub1"
            "pub2"
            "pub3"
            "companies";
    }

    .gridGraphic {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 2.75fr 2.75fr;
        grid-template-areas: "titulo"
            "pub1"
            "pub2";
    }

    .gridContact {
        grid-template-rows: 150px 2.75fr 2.75fr;
        grid-template-areas: "titulo"
            "pub1"
        ;
    }

    /* Queries para el header */
    header {
        max-width: 768px;
        min-width: 320px;
        height: 100px;
        flex-direction: column;
        padding: 10px;
        justify-content: flex-end;
    }

    .logoContainer {
        height: 100%;
        width: 100%;
        justify-content: center;
    }

    nav {
        margin: 0;
        justify-content: center;
    }

    ul {
        width: 100%;
    }

    nav ul li .menuLink {
        font-size: 1.5rem;
    }

    .socialMediaContainer img{
        width: 40px;
    }

    /* Queries para el index */
    .mainContentContainer {
        height: 2300px;
        max-width: 768px;
    }

    .publication {
        width: 90%;
    }

    .footerText {
        margin-left: 5px;
    }

    .footerText p {
        font-size: 1.2rem;
    }

    /* Queries para nosotros */
    .container {
        flex-direction: column;
    }


    .videoContainer {
        width: 80%;
        height: 60%;
    }

    .presentation {
        width: 100%;
    }

    .imgContainer {
        width: 30%;
    }

    /* Queries para servicios */

    .titleContainer {
        border: none;
    }

    .companiesContainer {
        height: 200px;
        width: 90%;
    }

    .titleContainer {
        font-size: 1.4rem;
    }

    /* Queries para grafico */

    .tradingview-widget-container {
        height: fit-content;
        width: 100%;
        border: #ffd200 2px solid;
        padding: 10px;
    }

    .tradingview-widget-container div div {
        height: 600px !important;
    }

    /* Queries para Contacto */
    .contactContainer{
        height: 90%;
    }
    form{
        width: 100%;
    }

}