* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 29, 30);
    font-family: 'Roboto', sans-serif;
    color: white;
}

p {
    font-size: 1.6rem;
}

h1{
    font-weight: 700;
}

/* Header */
.navbar-nav{
    margin-left: auto;
}

.imgLogo, .iconFooter{
    filter: invert(100%);
}

/* Main */
.carousel .card{
    margin: auto;
    color: black;
}

.mainTitleContainer {
    height: 120px;
    width: 100%;
    color: black;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(to right, #f7971e, #ffd200);
    border: 2px solid #ffd200;
    box-shadow: 0px 0px 8px #f46b45;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0 auto;
}
