$primary-color: rgb(27, 29, 30);
$negro: rgb(0, 0, 0);
$gris: rgb(227, 233, 237);
$blanco: rgb(255, 255, 255);
$primary-gradient: linear-gradient(to right, #f7971e, #ffd200); 
$secondary-gradient: linear-gradient(to right, #ece9e6, #ffffff);
