// Estilos para sitio de grafico
.tradingview-widget-container{
    height: 90%;
    width: 600px;
    border: $amarillo 2px solid;
    padding: 20px;
    div{
        div{
            height: 380px !important;
        }
    }
}