.grid{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 2fr;
    gap: 20px;
}

.gridi1 {
    grid-area: pub1;
}

.gridi2 {
    grid-area: pub2;
}

.gridi3 {
    grid-area: pub3;
}

.gridIndex {
    grid-template-areas: "titulo titulo titulo"
                        "pub1 pub2 pub3";
}