.grid{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 3fr 2fr;
    gap: 20px;
}

.gridi1 {
    grid-area: pub1;
}

.gridi2 {
    grid-area: pub2;
}

.gridi3 {
    grid-area: pub3;
}

.gridIndex {
    grid-template-areas: "titulo titulo titulo"
                        "pub1 pub2 pub3"
                        "desc desc desc";
}

.gridAboutUs {
    grid-template-columns: 1fr;
    grid-template-areas: "titulo"
        "pub1"
        "pub2";
}

.gridServices {
    grid-template-areas: "titulo titulo titulo"
        "pub1 pub2 pub3"
        "companies companies companies";
}

.gridGraphic {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 2.5fr 2.5fr;
    grid-template-areas: "titulo"
        "pub1"
        "pub2";
}

.gridContact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 1fr;
    grid-template-areas: "titulo titulo"
        "pub1 pub2";
}